@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Quicksand;
}

body{
    background:linear-gradient(135deg,#ffe4f2,#e6f7ff);
    min-height:100vh;
    color:#444;
    overflow-x:hidden;
    transition:.4s;
}

body.dark{
    background:linear-gradient(135deg,#1f1f1f,#2a2a2a);
    color:#eee;
}

/* FLOWERS */
.flowers span{
    position:fixed;
    top:-50px;
    font-size:22px;
    animation:fall linear infinite;
    opacity:.8;
}

@keyframes fall{
    to{
        transform:translateY(110vh) rotate(360deg);
    }
}

/* OPENING */
.opening{
    position:fixed;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    color:white;
    z-index:10;
    animation:fade 1.3s;
}

.opening h1{font-size:2.4em}
.opening p{margin-top:8px;font-size:1.1em}

/* HEADER */
header{
    text-align:center;
    padding:25px 15px;
}

header button{
    margin-top:12px;
    padding:10px 14px;
    border:none;
    border-radius:50%;
    background:#ff9aa2;
    cursor:pointer;
    font-size:16px;
}

/* GALLERY */
.gallery{
    padding:20px;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
    gap:22px;
}

.card{
    background:white;
    border-radius:28px;
    overflow:hidden;
    box-shadow:0 18px 35px rgba(0,0,0,.18);
    animation:pop .6s ease;
    cursor:pointer;
}

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.card:hover img{
    transform:scale(1.18) rotate(1.5deg);
}

/* PREVIEW */
.preview{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:rgba(0,0,0,.9);
    z-index:20;
}

.preview img{
    max-width:90%;
    border-radius:26px;
    animation:zoom .4s;
}

.preview p{
    margin-top:14px;
    font-size:1.1em;
    color:#ffd6e8;
}

.close{
    position:absolute;
    top:20px;
    right:30px;
    font-size:36px;
    color:white;
    cursor:pointer;
}

/* SPARKLE */
.sparkle{
    position:fixed;
    pointer-events:none;
    animation:spark .6s linear forwards;
}

@keyframes spark{
    from{opacity:1;transform:scale(1)}
    to{opacity:0;transform:scale(2)}
}

@keyframes fade{
    from{opacity:0}
    to{opacity:1}
}

@keyframes pop{
    from{transform:scale(.8);opacity:0}
    to{transform:scale(1);opacity:1}
}

@keyframes zoom{
    from{transform:scale(.6)}
    to{transform:scale(1)}
}